@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header ul.nav{
  float: right;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; /* Робить текст великими літерами */
  list-style: none;
  transition: opacity 500ms ease; /* При наведенні робить текст прозорим */
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
}


header ul.nav li:hover {
  opacity: 0.5;
}

header .presentation {
  margin: 50px 0;
  background: url(./img/Home\ BG.jpg) no-repeat;
  width: 100%;
  height: 500px;
  border-radius: 10px 10px 10px 10px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #949494;
}

header .presentation::after {
  content: 'Найкращі товари для вашого будинку';
  position: absolute;
  text-transform: uppercase; /* Робить текст великими літерами */
  top: 250px;
  left: 270px;
  width: 450px;
  font-size: 40px;
  font-weight: 600;
  color: #f5f5f5;
}

header .presentation::before {
  content: 'по самим низьким цінам';
  position: absolute;
  top: 395px;
  left: 270px;
  width: 300px;
  font-size: 14px;
  font-weight: 420;
  color: #f5f5f5;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 30%;
  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  position: relative;
  padding-bottom: 20px;
}

main .item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}

main .item img:hover {
transform: scale(1.03);
  transition: transform 0.3s ease;
}

main h2, 
main p, 
main b {
  margin: 10px 20px;
  color: #333;
}

main b {
  color: #5fa35f;
}

main .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.3s ease;
} 

main .add-to-cart:hover {
  transform: scale(1.2);

}

footer {
  text-align: center;
  margin-top: 100px;
}
